.no-border {
  border: 0px solid #ced4da;
}

.header {
  text-align: center;
  position: relative;
}

.logo {
  max-width: 60%;
  height: auto;
  animation: fadein 1.2s;
}

.mute-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: darkgrey;
  transition: ease-in 0.3s;
  animation: fadein 1.2s;
}

.mute-btn:hover {
  color: crimson;
  transition: ease-in 0.3s;
}

.editor-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: darkgrey;
  transition: ease-in 0.3s;
  animation: fadein 1.2s;
}

.editor-btn:hover {
  color: slateblue;
  transition: ease-in 0.3s;
}

.text-1 {
  color: darkgrey;
}

.box-container {
  text-align: center;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.sound-box {
  text-align: center;
  width: 190px;
  display: inline-block;
  padding: 5px;
  margin-top: 2rem;
  animation: createbox 0.6s;
}

.audio-info {
  position: relative;
  display: inline-flex;
}

.playing-icon-box {
  position: absolute;
  right: -10px;
  margin-left: 10px;
  top: 0;
}

.sound-icon {
  width: 64px;
  height: 64px;
}

.playing-icon {
  width: 8px;
  height: 8px;
}

.footer {
  padding: 5px;
}

// Editor related
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px;
  max-height: 500px;
}

#poweredBy {
  float: right;
  margin: 0.8rem;
  text-align: center;
}

.controls {
  width: 60%;
  margin: 0.8rem;
}

// Animations
@keyframes createbox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
