// Editor related
.editor-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: darkgrey;
  transition: ease-in 300ms;
  animation: fadein 600ms;
}

.editor-btn:hover {
  color: slateblue;
  transition: ease-in 300ms;
  cursor: pointer;
}

.editor-modal {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  background-color: white;
  border: solid 1px gray;
  border-radius: 5px;
}
