<div class="header">
  <div>
    <img alt="Noizee" src="./assets/logo.png" class="logo" />
  </div>
  <div class="mute-btn" (click)="muteAllSounds()" title="Stop all sounds">
    <i class="material-icons">volume_off</i> <br />
  </div>
  <div class="editor-btn" (click)="openEditorModal()" title="Open text editor">
    <i class="material-icons">edit</i> <br />
  </div>
</div>

<div class="list-container">
  <app-soundbox *ngFor="let sound of soundList" [sound]="sound" class="sound-box"></app-soundbox>
  <br /><br />
  <small class="text-1 footer">
    Icons by <a rel="noopener" target="_blank" href="https://www.flaticon.com/br/autores/eucalyp"
      title="Eucalyp">Eucalyp</a>
    <br />
    Sounds by unknown
    <br />
    Developed by <a rel="noopener" target="_blank" href="https://github.com/pedrocx486">pedroCX486</a>
    <br /><br />
    Issues playing? Our sounds are in MP3 format.<br />Linux users may need to install extra codecs to play them.
  </small>
</div>

<app-ckeditor-modal *ngIf="showModal" (closeModal)="closeEditorModal()" class="editor-modal" [@fadeInOut]></app-ckeditor-modal>
