// Material Icons
@import '~material-design-icons/iconfont/material-icons.css';

// Volume Controls - Don't mess with them unless you know what to do.
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin: 4.55px 0;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.9px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 2.5px rgba(112, 166, 187, 0.86), 0px 0px 0.8px rgba(129, 177, 195, 0.86);
    background: #b9d2f4;
    border-radius: 25px;
    border: 2.3px solid rgba(219, 213, 143, 0);
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0.6px 0.6px 1.5px #71bdcc, 0px 0px 0.6px #84c6d3;
    border: 5.5px solid #5ea5ff;
    height: 16px;
    width: 16px;
    border-radius: 12px;
    background: #5ba2ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.85px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #dce9fa;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 6.9px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 2.5px rgba(112, 166, 187, 0.86), 0px 0px 0.8px rgba(129, 177, 195, 0.86);
    background: #b9d2f4;
    border-radius: 25px;
    border: 2.3px solid rgba(219, 213, 143, 0);
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0.6px 0.6px 1.5px #71bdcc, 0px 0px 0.6px #84c6d3;
    border: 5.5px solid #5ea5ff;
    height: 16px;
    width: 16px;
    border-radius: 12px;
    background: #5ba2ff;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 6.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #96bbee;
    border: 2.3px solid rgba(219, 213, 143, 0);
    border-radius: 50px;
    box-shadow: 0.8px 0.8px 2.5px rgba(112, 166, 187, 0.86), 0px 0px 0.8px rgba(129, 177, 195, 0.86);
  }
  input[type="range"]::-ms-fill-upper {
    background: #b9d2f4;
    border: 2.3px solid rgba(219, 213, 143, 0);
    border-radius: 50px;
    box-shadow: 0.8px 0.8px 2.5px rgba(112, 166, 187, 0.86), 0px 0px 0.8px rgba(129, 177, 195, 0.86);
  }
  input[type="range"]::-ms-thumb {
    box-shadow: 2.6px 2.6px 1.5px #71bdcc, 2px 2px 1.6px #84c6d3;
    border: 5.5px solid #5ea5ff;
    height: 16px;
    width: 16px;
    border-radius: 12px;
    background: #5ba2ff;
    cursor: pointer;
    height: 6.9px;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #b9d2f4;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #dce9fa;
  }
  