// Material Icons
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

@import 'shared/styles/volume-controls.scss';
@import 'shared/styles/sound-controls.scss';
@import 'shared/styles/editor-controls.scss';
@import 'shared/styles/animations.scss';

body {
  background-color: #121212;
}

// General layout
.no-border {
  border: 0px solid #ced4da;
}

.header {
  text-align: center;
  position: relative;
}

.header-controls {
  width: 60%;
  margin: 0.8rem;
}

.logo {
  max-width: 60%;
  height: auto;
  animation: fadein 1s;
}

.text-1 {
  color: darkgrey;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-container {
  text-align: center;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.sound-box {
  text-align: center;
  width: 190px;
  display: inline-block;
  padding: 5px;
  margin-top: 2rem;
  animation: createbox 600ms;
}

.footer {
  padding: 5px;
  transition: ease-in 300ms;
  animation: fadein 600ms;
}
